.formular {
    display: block;
    border: 2px dashed black;
    background: #c7c7c7;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}
input {
    margin: 8px ;

}
textarea {
    margin: 8px;
}
.nay {
    margin-left: 0.8rem;
}
.textik {
    margin-left: 0.8rem;
    margin-bottom: -0.2rem;
}

input[type=text],
input[type=email],
input[type=date],
textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
input[required] {
  border-color: #ff9800;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=date]:hover {
  border-color: #888;
}

.nastavovac {
    display: flex;
}
.nastv {
    display: grid;
    margin-left: 1.8rem;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}
.subm {
    width: 20rem;
    margin-left: 9.7%;
    background: yellow;
}
.subm:hover {
    background: #ff9800;
}
